<div class='message' id="message-<%= message.id %>">
  <h3 class='chat-log__author' style='text-align: right;'><%= current_user.name %></h3>
  <div class='chat-log__message' style='text-align: right;'><%= message.message %></div>
  <div class="chat-log__delete"><%= link_to "削除", message_path(message.id), method: :delete, remote: true %></div>
</div>