<%= render 'layouts/menubar' %>
<% @posts.each do |post| %>
  <% post.tags.each do |tag| %>
    <div class="card-box">
      <div class="cardbox-heading">
		    <div class="cardbox-base" style="margin-top: 20px;">
		      <h3>
		        <%= link_to edit_post_path(post) do %>
		          <%= post.title %>
		        <% end %>
		      </h3>
		    </div>
		    <div class="row float-right">
			    <div class="footer" style="margin-top: 5px;">
  			    <p>
  			      <span>Tags:</span>
			        <span><%= link_to tag.tag_name,posts_path(tag_id: tag.id) %></span>
            </p>
          </div>
        </div>
	    </div><!--/ cardbox-heading -->
    </div>
  <% end %>
<% end %>