<%# About,画像スライダー部分 %>
<div class="row about h-100 w-100">
  <div class="slider h-100 w-100">
    <div class="about-box d-flex align-items-center justify-content-center">
      <%= image_tag 'AboutTravel.jpg', class: "slider-image" %>
    </div>
    <div class="about-box d-flex align-items-center justify-content-center">
      <% image_tag 'AboutBook.jpg', class: "slider-image" %>
    </div>
    <div class="about-box d-flex align-items-center justify-content-center">
      <%= image_tag 'AboutMusic.jpg', class: "slider-image" %>
    </div>
  </div>
</div>